

<ul class="sidenav sidenav-fixed" id="mobile-demo" style="background-color: #222;">
  <!--<li><a href="#!" class="brand-logo" style="font-weight: 600; font-size: 1rem;">QR Code Attendance Manager</a></li>-->
  <br>
  <li ><a href="/student">Attendance</a></li>
  <li><a href="/student/scan">Scan QR</a></li>
  <li><a href="">Student List</a></li>
  <li><a href="/">Log Out</a></li>
</ul>