<!-- SIDENAV -->
<ul class="sidenav sidenav-fixed" id="mobile-demo" style="background-color: #222;">
  <li style="height: 180px">
    <div class="user-view" style="height: 180px">
      <div class="background">
        <img src="/img/logo.png" style="height: 170px; padding-left:32px; padding-top: 32px;">
      </div>
    </div>
  </li>
  <br>
  <li><a href="/">Student</a></li>
  <li><a href="/facultyLogin" onclick="">Faculty</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="" class="logoutBtn hide" onclick="signOut();">Log Out</a></li>
</ul>
<!-- END SIDENAV -->
<div class="container">
  <a href="#" data-target="mobile-demo" style="display:none; color:#333;" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
</div>