

<ul class="sidenav sidenav-fixed" id="mobile-demo" style="background-color: #222;">

  <li><a href="/faculty">Home</a></li>
  <li><a href="/faculty/addLecture">Add Lecture</a></li>
  <li><a href="/faculty/profile">Profile</a></li>
  <li><a href="/facultyLogin" onclick="signOut();">Log Out</a></li>
</ul>