<select id="subjects" multiple>
  <option value="IT1">CAO</option>
  <option value="IT2">DAA</option>
  <option value="IT3">OS</option>
  <option value="IT4">IDS</option>
  <option value="IT5">CSS</option>
  <option value="IT6">IS</option>
  <option value="IT7">BIS</option>
</select>

