

<ul class="sidenav sidenav-fixed" id="mobile-demo" style="background-color: #929292;">
  <!--<li><a href="#!" class="brand-logo" style="font-weight: 600; font-size: 1rem;">QR Code Attendance Manager</a></li>-->
  <br>
  <li><a href="">Scan</a></li>
  <li><a href="">Generate</a></li>
  <li><a href="">Javascript</a></li>
  <li><a href="">Mobile</a></li>
</ul>