

<ul class="sidenav sidenav-fixed" id="mobile-demo" style="background-color: #222;">
  <!--<li><a href="#!" class="brand-logo" style="font-weight: 600; font-size: 1rem;">QR Code Attendance Manager</a></li>-->
  <br>
  <li><a href="/student">Student</a></li>
  <li><a href="/faculty">Faculty</a></li>
  <li><a href="">Class</a></li>
</ul>